{% extends 'base.html' %}

{% comment %} Este es un ejemplo de comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block style_css %}
    .impar{ background-color: #90EE90; }
    .par{background-color:#5ACC5A;}
{% endblock %}

{% block encabezado %}
    <h1>Recetario</h1>
{% endblock %}

{% block contenido %}
<p>
    Actualmente existen:
    {% with total=listaRecetas.count %}
        {{total}} receta{{total|pluralize}}
    {% endwith %}
</p>
<ul>
    {% for dato in listaRecetas %}
    <li class="{% cycle 'impar' 'par' %}">{{dato.titulo}}</li>
    {% empty %}
    <li>No hay recetas para mostrar</li>
    {% endfor %}
</ul>
{% endblock %}
