{% extends 'base.html' %}
{% block titulo %} Recetas registradas {% endblock %}

{% block style_css %}
img {width: 100px}
{% endblock %}

 {% block encabezado %}
 <h1>Lista Recetas</h1>
 {% endblock %}

{% block contenido %}
<ul>
    {% for dato in listaRecetas %}
    <li>
        <a href="{% url principal.views.detalle_receta dato.id %}">{{dato.titulo}}</a>
        <img src="{{MEDIA_URL}}{{dato.imagen}}" alt="imagen">
    </li>
    {% empty %}
    <li>No hay recetas registadas.</li>
    {% endfor %}
</ul>
{% endblock %}
