{% extends 'base.html' %}
{% block titulo %} Usuarios registrados {% endblock %}

{% block encabezado %}
<h1>Colaboradores</h1>
{% endblock %}

{% block contenido %}
<ul>
    {% for rowU in listaUsuarios %}
    <li>
        {{rowU.username|capfirst}} - <em>{{rowU.email}}</em>
        <ul>
            {% for rowR in ListaRecetas %}
                {% if rowR.usuario == rowU %}
                <li>{{rowR}}</li>
                {% endif %}
            {% empty %}
                <li>El usuario no tiene recetas registradas.</li>    
            {% endfor %}
        </ul>
    </li>
    {% empty %}
    <li>No hay usuarios registrados</li>
    {% endfor %}
</ul>
{% endblock %}